<!DOCTYPE html>

<html>

	<head>
		<title>Angular.js Demo App</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
		<link href="css/site.css" rel="stylesheet">
		<base href="/">
	</head>

	<body>

		<main ng-app="WidgetApp" class="container">
			<div ng-controller="HomeCtrl">

				<div>
					<input type="checkbox" ng-model="showMe"> Show Me
				</div>
				<div ng-if="showMe">
					You can see me!
					{{message}}
					<input ng-model="person.firstName">
				</div>


			</div>
		</main>

		<script src="file:///Users/ericwgreene/git/training4developers/angular_02162016/start/www/js/ng/angular.js"></script>
		<script src="file:///Users/ericwgreene/git/training4developers/angular_02162016/start/www/js/ng/angular-animate.js"></script>
		<script src="file:///Users/ericwgreene/git/training4developers/angular_02162016/start/www/js/ng/angular-sanitize.js"></script>
		<script src="file:///Users/ericwgreene/git/training4developers/angular_02162016/start/www/js/ng/angular-ui-router.js"></script>
		<script src="file:///Users/ericwgreene/git/training4developers/angular_02162016/start/www/js/site.js"></script>

	</body>

</html>
